nav{
    background-color:#4d4a4a;
}
a{
    color: #000000;
}
ul {
    color: rgb(0, 0, 0);
    font-family: "Playfair Display", serif;      
    font-optical-sizing: auto;
    font-weight: normal; 
    font-style: normal;
    font-size: 1.5em; 
}
span{
     color: rgb(0, 0, 0);
     font-family: "Playfair Display", serif;
     font-optical-sizing: auto;
     font-weight: weight;
     font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
}

h1{
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 30px 0px;
}
img {
    width: 130px;
    height: 120px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;   
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:15%;
    height: 70px;
    top: 0;
    position: fixed;
    width: 100%;
}
.scroll{
    background-color: rgb(0, 0, 0);
    box-shadow: .1rem .2rem .3rem #f00c0c;
}
.scroll img{
    filter: invert(15%);
}           
.scroll h1{
    color: #080808;
}
.carrito{
    filter: invert(100%);
    width: 45px;
    height: auto;
}
.contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-bottom: 20px;
}
.contenedor>div{
    box-shadow: 0px 0px 5px 0px rgba(204, 204, 204, 0.75);
    background-color:rgb(167, 167, 167);
    border-radius: 20px;
}
.contenedor>div:hover{
    background-color:       #ffffff59;
}

.informacion{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:15px;
}
.informacion>p:first-child{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 300;
}
.informacion .precio {
    font-size: 20px;
    font-weight: 500;
}
.informacion .precio span{
    font-size: 17px;
    font-weight: 300;
}
.informacion button{
    background-color: #000000;
    width: 100px;
    height: 35px;
    border-radius: 10px;
    border: none;

    font-size: 17px;
    font-weight: 300;
    cursor: pointer;
}
.informacion button:hover{
    background-color: #78aeff;
}
button{
    color: #000000;
}
p{
    text-align: center;
}
body{
    background-image: url("new\ back.JPG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover  ;
    background-attachment: fixed;
}